<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Weather Data</title>
  <script src="app.js"></script>
  </head>

<body>
  <h1>Let's get this data</h1>
  <div>
    <a href='/scrape'><button>Get Data</button></a>
  </div>
  <div>
    <table>
      <tr>
        <th>State</th>
        <th>Population</th>
      </tr>
      <tr>
        <td>{{ weather['Alabama']['Abbreviation'] }}</td>
        <td>{{ weather['Alabama']['Population'] }}</td>
      </tr>
    </table>
  </div>
</body>

</html>
